@using System.Web.Mvc.Html
@model  Calculator.Models.MainModel

@{
    ViewBag.Title = "Main";
}

<link rel="stylesheet" type="text/css" href="~/Content/HeckFire.css">
<!DOCTYPE html>
<header>
    HeckFire Calculator
</header>
<html>
<body>
    <div id="main-wrap">
        <div id="sidebar">
            @{
                AjaxOptions resultAjaxOptions = new AjaxOptions();
                resultAjaxOptions.HttpMethod = "POST";
                resultAjaxOptions.UpdateTargetId = "textResult";
                resultAjaxOptions.InsertionMode = InsertionMode.Replace;

                AjaxOptions questListAjaxOptions = new AjaxOptions();
                questListAjaxOptions.HttpMethod = "GET";
                questListAjaxOptions.UpdateTargetId = "list";
                questListAjaxOptions.InsertionMode = InsertionMode.Replace;
             }
            <div class="control" id="getCurrentAndNext">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    <button name="Function" type="submit" value="GetCurrentQuest">Current</button>
                    <button name="Function" type="submit" value="GetNextQuest">Next</button>
                }

            </div>
            <div class="control" id="getTimeWhenOrUntilNext">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    @Html.LabelFor(model => model.Quest)
                    @Html.EnumDropDownListFor(model => model.Quest, new { id ="dropDown"})
                    <button name="Function" value="GetTimeWhenNext" type="submit">Next start time</button>
                    <button name="Function" value="GetTimeUntilNext" type="submit">Time until starts</button>
                }
            </div>
            <div class="control" id="getQuestAfterHours">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    @Html.LabelFor(model => model.Hours)
                    @Html.TextBoxFor(model => model.Hours, new { autocomplete = "off" })
                    <button name="Function" value="GetQuestAfterHours" type="submit">Quest after hours</button>
                }
            </div>
            <div class="control" id="getQuestList">
                @using (Ajax.BeginForm("GetQuestList", "HeckFire", questListAjaxOptions))
            {
                    @Html.LabelFor(model => model.QuestListLength)
                    @Html.TextBoxFor(model => model.QuestListLength, new { autocomplete = "off" })
                    <button name="Function" value="GetQuestList" type="submit">Quest list</button>
            }

                @using (Ajax.BeginForm("Filter", "HeckFire", questListAjaxOptions))
                {
                    @Html.LabelFor(model => model.QuestFilters)
                    <button name="filterButton" class="imageButton" title="Construction" id="Construction"
                            value="Construction" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Troop training" id="TroopTraining"
                            value="Troop training" type="submit" > </button>

                    <button name="filterButton" class="imageButton" title="Monster slaying" id="MonsterSlaying"
                            value="Monster slaying" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Resource gathering" id="ResourceGathering"
                            value="Resource gathering" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Researching" id="Researching"
                            value="Researching" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Might growth" id="MightGrowth"
                            value="Might growth" type="submit" ></button>
                }
            </div>
        </div>
        <div id="resultDiv">
            <div class="result" id="resultText">
                <label class="resultLabel">Result:</label>
                <br />
                <p id="textResult">@Model.Result</p>
            </div>
            <div class="result" id="questList">
                <label class="resultLabel">Quest list:</label>
                <br />
                <span style="white-space: pre-line">
                    <p id="list">@Model.QuestList</p>
                </span>
            </div>
        </div>
    </div>
</body>

</html>
@section scripts{
    <script src="~/Scripts/script.js"></script>
    <script>
        startUp();
    </script>
}