@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@model  Calculator.Models.MainModel

@{
    ViewBag.Title = "Main";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/script.js")"></script>
}

<link rel="stylesheet" type="text/css" href="~/Content/HeckFire.css">
<header>
    HeckFire
</header>

<body>
    <div id="main-wrap">
        <div id="sidebar">
            <div class="control" id="getCurrentAndNext">
                @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Post))
                {
                    <button name="Function" value="GetCurrentQuest" type="submit">Current Quest</button>
                    <button name="Function" value="GetNextQuest" type="submit">Next Quest</button>
                }
            </div>
            <div class="control" id="getTimeWhenOrUntilNext">
                @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Post))
                {
                    @Html.LabelFor(model => model.Quest)
                    @Html.EnumDropDownListFor(model => model.Quest)
                    <button name="Function" value="GetTimeWhenNext" type="submit">Get quests next start time</button>
                    <button name="Function" value="GetTimeUntilNext" type="submit">Get time until quest starts</button>
                }
            </div>
            <div class="control" id="getQuestAfterHours">
                @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Post))
                {
                    @Html.LabelFor(model => model.Hours)
                    @Html.TextBoxFor(model => model.Hours)
                    <button name="Function" value="GetQuestAfterHours" type="submit">Get quest after hours</button>
                }
            </div>
            <div class="control" id="getQuestList">
                @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Post))
                {
                    @Html.LabelFor(model => model.QuestListLength)
                    @Html.TextBoxFor(model => model.QuestListLength)
                    <button name="Function" value="GetQuestList" type="submit">Get quest list</button>
                }
            </div>
        </div>
        <div id="resultDiv">
            <div class="result" id="resultText">
                <label>Result:</label>
                <br/>
                <span style="white-space: pre-line">@Model.Result</span>
            </div>
            <div class="result" id="questList">
                <label>Quest list:</label>
                <br/>
                <span style="white-space: pre-line">@Model.QuestList</span>
            </div>
        </div>
    </div>
</body>
