@using System.Web.Mvc.Html
@model  Calculator.Models.MainModel

@{
    ViewBag.Title = "Main";
}

<link rel="stylesheet" type="text/css" href="~/Content/HeckFire.css">
<!DOCTYPE html>
<header>
    HeckFire Calculator
</header>
<html>
<body>
    <div id="main-wrap">
        <div id="sidebar">
            @{
                AjaxOptions resultAjaxOptions = new AjaxOptions();
                resultAjaxOptions.HttpMethod = "POST";
                resultAjaxOptions.UpdateTargetId = "textResult";
                resultAjaxOptions.InsertionMode = InsertionMode.Replace;

                AjaxOptions questListAjaxOptions = new AjaxOptions();
                questListAjaxOptions.HttpMethod = "GET";
                questListAjaxOptions.UpdateTargetId = "list";
                questListAjaxOptions.InsertionMode = InsertionMode.Replace;
             }
            <div class="control" id="getCurrentAndNext">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    <button name="Function" type="submit" value="GetCurrentQuest">Current</button>
                    <button name="Function" type="submit" value="GetNextQuest">Next</button>
                }

            </div>
            <div class="control" id="getTimeWhenOrUntilNext">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    @Html.LabelFor(model => model.Quest)
                    @Html.EnumDropDownListFor(model => model.Quest, new { id ="dropDown"})
                    <button name="Function" value="GetTimeWhenNext" type="submit">Next start time</button>
                    <button name="Function" value="GetTimeUntilNext" type="submit">Time until starts</button>
                }
            </div>
            <div class="control" id="getQuestAfterHours">
                @using (Ajax.BeginForm("Calculate", "HeckFire", resultAjaxOptions))
            {
                    @Html.LabelFor(model => model.Hours)
                    @Html.TextBoxFor(model => model.Hours, new { autocomplete = "off" })
                    <button name="Function" value="GetQuestAfterHours" type="submit">Quest after hours</button>
                }
            </div>
            <div class="control" id="getQuestList">
                @using (Ajax.BeginForm("GetQuestList", "HeckFire", questListAjaxOptions))
            {
                    @Html.LabelFor(model => model.QuestListLength)
                    @Html.TextBoxFor(model => model.QuestListLength, new { autocomplete = "off" })
                    <button name="Function" value="GetQuestList" type="submit">Quest list</button>
            }

                @using (Ajax.BeginForm("Filter", "HeckFire", questListAjaxOptions))
                {
                    @Html.LabelFor(model => model.QuestFilters)
                    <button name="filterButton" class="imageButton" title="Construction" id="Construction"
                            value="Construction" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Troop training" id="TroopTraining"
                            value="Troop training" type="submit" > </button>

                    <button name="filterButton" class="imageButton" title="Monster slaying" id="MonsterSlaying"
                            value="Monster slaying" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Resource gathering" id="ResourceGathering"
                            value="Resource gathering" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Researching" id="Researching"
                            value="Researching" type="submit" ></button>

                    <button name="filterButton" class="imageButton" title="Might growth" id="MightGrowth"
                            value="Might growth" type="submit" ></button>
                }
            </div>
        </div>
        <div id="resultDiv">
            <div class="result" id="resultText">
                <label class="resultLabel">Result:</label>
                <br />
                <p id="textResult">@Model.Result</p>
            </div>
            <div class="result" id="questList">
                <label class="resultLabel">Quest list:</label>
                <br />
                <span style="white-space: pre-line">
                    <p id="list">@Model.QuestList</p>
                </span>
            </div>
        </div>
    </div>
</body>

</html>
@section scripts{
    <script type="text/javascript">
        var smallSize;

        if ($('#sidebar').width() < 180) {
            $("select").css("font-size", "11.1px");
            smallSize = 1;
        } else {
            $("select").css("font-size", "15px");
            smallSize = 0;
        }

        $(window).resize(function() {
            if ($('#sidebar').width() < 180) {
                if (!smallSize) {
                    $("select").css("font-size", "11.1px");
                    smallSize = 1;
                }
            } else {
                if (smallSize) {
                    $("select").css("font-size", "15px");
                    smallSize = 0;
                }
            }
        });

        var imageButtons = document.getElementsByClassName("imageButton");

        for (var i = 0; i < imageButtons.length; i++) {
            imageButtons[i].style.backgroundImage = "url('../../Content/QuestIcons/" + imageButtons[i].id + ".png')";
        }

        for (i = 0; i < imageButtons.length; i++) {
            imageButtons[i].setAttribute("aria-checked", false);

            imageButtons[i].addEventListener("click",
                function(event) {
                    var button = event.target;
                    IfAllFalseThenDisableAll(imageButtons);
                    if (button.getAttribute("aria-checked") === "true") {
                        UnCheck(button);
                    } else {
                        Check(button);
                        IfAllTrueThenEnableAll(imageButtons);
                    }
                });
        }

        var IfAllFalseThenDisableAll = function(buttons) {

            for (i = 0; i < buttons.length; i++) {
                if (buttons[i].getAttribute("aria-checked") === "true") return false;
            }

            for (i = 0; i < buttons.length; i++) {
                Check(buttons[i]);
            }

            return true;
        }

        var IfAllTrueThenEnableAll = function (buttons) {

            for (i = 0; i < buttons.length; i++) {
                if (buttons[i].getAttribute("aria-checked") === "false") return true;
            }

            for (i = 0; i < buttons.length; i++) {
                UnCheck(buttons[i]);
            }

            return true;
        }

        var UnCheck = function(button) {
            button.setAttribute("aria-checked", "false");
            button.style.backgroundColor = "";
        }

        var Check = function(button) {
            button.style.backgroundColor = "rgba(0,0,0,0.6";
            button.setAttribute("aria-checked", "true");
        }
    </script>
}