@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@model  Calculator.Models.MainModel

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    HeckFire
</header>

<body>
    <div>
        <div class="getCurrentAndNext">
            @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Post))
                                 {
            <button name="Function" value="GetCurrentQuest" type="submit">Current Quest</button>
            <button name="Function" value="GetNextQuest" type="submit">Next Quest</button>
            }
   
        </div>


        <div class="getTimeWhenOrUntilNext">
            @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Get))
        {
            @Html.LabelFor(model => model.Quest)
            @Html.EnumDropDownListFor(model => model.Quest)
           
            <button name="Function" value="GetTimeWhenNext" type="submit">Get quests next start time</button>
            <button name="Function" value="GetTimeUntilNext" type="submit">Get time until quest starts</button>
            }
   
        </div>

        <div class="getQuestAfterHours">
            @using (Html.BeginForm("Calculate", "HeckFire", FormMethod.Get))
        {
            @Html.LabelFor(model => model.Hours)
            @Html.TextBoxFor(model => model.Hours)
           
            <button name="Function" value="GetQuestAfterHours" type="submit">Get quest after hours</button>
            }
   
        </div>

        </br>

        <div class="result">

            <label>Result:</label>
            @Model.Result

        </div>
    </div>
</body>
